
.tabs .slick-slider ul.slick-dots {
    bottom: -17%;
}

.tabs .slick-slider ul.slick-dots li.slick-active div.rounded-full {
    background-color: #208CB2;
    opacity: 1;
}

.tabs .prev-arrow {
    bottom: 145px;
    left: -4%;
}

.tabs .next-arrow {
    bottom: 145px;
    left: 98.2%;
}