
$layout-min-md: 768px;

$primary: rgb(32, 140, 178);
#carousel-three {
    .text-xl {
        margin-top:22px;
        font-size: 22px !important;
    }

    .slick-arrow {
        background-color: $primary;
        width: 32px;
        height: 32px;
        border-radius: 9999px;
        z-index: 10;

        &.slick-disabled {
            opacity: .75;
            cursor: not-allowed;

            &:hover {
                background-color: $primary;

                &::before {
                    color: white;

                }
            }
        }

        &:before {
            font-family: FontAwesome;
            font-size: 16px;
            font-weight: bold;
            color: white;
        }
        
        &:hover {
            background-color: white;

            &::before {
                color: $primary;
            }
        }

        &.slick-prev {
            left: -40px;
            &::before {
                content: "\f104";
            }
        }

        &.slick-next {
            right: -40px;
            &::before {
                content: "\f105";
            }
        }
    }
    
    .slick-dots {
        bottom: -40px;
        left: 4px;
        right: 0;
        
        .dots {
            width: 12px;
            height: 12px;
            background: #4E5E79;
            border-radius: 6px;
            opacity: .25;
        }

        .slick-active .dots {
            background-color: #208CB2;
            opacity: 1;
        }
    }
}