.card-text-image-small{
    .primary-link{
        color: #208CB2;
        text-decoration: none;
        transition: .2s all;
        padding-bottom: 10px;

        &:hover{
            color: #208CB2;
            text-decoration: none;
            transition: .2s all;
            border-bottom: #208CB2 solid 1px;
        }
    }

    h1 {
        font-size: 22px !important;
    }
    p {
        font-size: 16px !important;
    }
}

.card-image-rl {
    max-width: 100%;
    max-height: 716px;
}