ul.slick-dots li div.dots {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
    --bg-opacity: 1;
    background-color: #4E5E79;
    background-color: rgba(78, 94, 121, var(--bg-opacity));
    opacity: 0.75;
}

ul.slick-dots li.slick-active .dots {
    --bg-opacity: 1;
    background-color: #208CB2;
    background-color: rgba(32, 140, 178, var(--bg-opacity));
    opacity: 1;
}

ul.slick-dots li .dots:hover {
    --bg-opacity: 1;
    background-color: #208CB2;
    background-color: rgba(32, 140, 178, var(--bg-opacity));
    opacity: 1;
}