$layout-min-md: 768px;

.carousel-card-text-component {
    .slick-dots {
        // right: 15%;

        .slick-active .dots {
            background-color: #208CB2;
            opacity: 1;
        }
    }

    .card-text {
        p {
            line-height: 21px !important;
        }
    }
}