#carousel-three .prev-arrow, #carousel-three .next-arrow {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    outline: none;
}

#carousel-three .prev-arrow {
    top: -200px;
    left: -4.5%;
}

#carousel-three .next-arrow {
    z-index: 10;
    top: -232px;;
    left: 101.5%;
}

#carousel-three .slick-dots {
    bottom: -46px;
}
  
#carousel-three .slick-dots li #dots {
    width: 12px;
    height: 12px;
    background: #4E5E79;
    border-radius: 6px;
    opacity: 0.25;
}

#carousel-three .slick-dots li #dots:hover {
    background-color: #208CB2;
    opacity: 1;
}

#carousel-three .slick-dots li.slick-active #dots {
    background-color: #208CB2;
    opacity: 1;
}

#carousel-three .slick-prev {
    left: -46px;
}

#carousel-three .slick-next {
    padding: 0;
    margin: 0;
    right: -34px;
}
