$layout-min-md: 768px;
$layout-min-lg: 1024px;
.carousel-text {
    .slick-dots .slick-active .dots {
        background: #208CB2;                
        opacity: 1;
    }
    
    .buttons {
        background-color: white;
        color: #208CB2;
    }

    .arrows {
        background-color: white;
        color: #208CB2;

        &:hover {
            background-color: #208CB2;
            color: white;
        }
    }
}
